<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.learnings.forum.dao.ArticleMapper">
<!--  自定义结果集映射-->
  <resultMap id="AllInfoResultMap" type="com.learnings.forum.model.Article" extends="ResultMapWithBLOBs">
<!--    关联的用户的映射-->
    <association property="user" resultMap="com.learnings.forum.dao.UserMapper.BaseResultMap"
    columnPrefix="u_"  />

  </resultMap>
<!--    查询所有未被删除的帖子列表，不包含content-->
  <select id="selectAll" resultMap="AllInfoResultMap">
    select
      u.id as u_id,
      u.avatarUrl as u_avatarUrl,
      u.nickname as u_nickname,
      a.id,
      a.boardId,
      a.userId,
      a.title,
      a.visitCount,
      a.replyCount,
      a.likeCount,
      a.state,
      a.createTime,
      a.updateTime
    from t_article a, t_user u
    where a.userId = u.id
      and a.deleteState = 0
    ORDER BY a.createTime DESC;
  </select>

  <!--    根据板块id查询所有未被删除的帖子列表，不包含content-->
  <select id="selectAllByBoardId" resultMap="AllInfoResultMap" parameterType="java.lang.Long">
    select
      u.id as u_id,
      u.avatarUrl as u_avatarUrl,
      u.nickname as u_nickname,
      a.id,
      a.boardId,
      a.userId,
      a.title,
      a.visitCount,
      a.replyCount,
      a.likeCount,
      a.state,
      a.createTime,
      a.updateTime
    from t_article a, t_user u
    where a.userId = u.id
    and a.deleteState = 0
    and a.boardId = #{boardId,jdbcType=BIGINT}
    ORDER BY a.createTime DESC;
  </select>
</mapper>