<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.learnings.forum.dao.UserMapper">
    <!--
        1. 注意namespace表示命名空间，指定要与 UserMapper.xml中的namespace相同
        2. 统一用com.learnings.forum.dao.UserMapper, 也就是UserMapper的完全限定名(包名+类名)
        3. 不同的映射文件指定了相同的namespace后，定义的所有用id或name标识的结果集映射都可以在不同的文件中共享
    -->

<!--    根据用户名查询用户信息-->
    <select id="selectByUserName" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List" />
        from t_user
        where
        deleteState = 0
        and
        username = #{username,jdbcType=VARCHAR}
    </select>

</mapper>
